@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
.winbox{
   
    width: 100%;
    height: 100vh;
   
}
.piechartbox {
  width: 800px;
  height: 800px;
  margin-left: 570px;
  margin-top: -10px;
  position: relative;   
  background: transparent;
  display: flex;
  
  
}

.pie-chart{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    margin-top: 50px;
    position: relative;
    clip: rect(0, 165px, 165px, 82.5px); 
   
}
.chart-text-box{
width: 270px;
height: 65px;
margin-top: 159px;
margin-left: 180px;
opacity: 1;
margin-left:250px ;
    
}
.chart-text{
width: 260px;

font-family: 'Urbanist', sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;

}
.wind-mill{
    background: transparent;
    background-color: rgb(90, 30, 210);
}

.rec-box {
  width: 264px;
  height: 95px;
 
  border-radius: 30px;
  background: rgba(30, 122, 70, 0.15); 
  display: flex;
  align-items: center;
  justify-content: center;
 
  -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);

  box-shadow:
    0px 1px 40px 0px rgba(30, 122, 70, 0.2) inset,
    0px 4px 18px 0px rgba(30, 122, 70, 0.3) inset,
    0px 98px 100px -48px rgba(30, 122, 70, 0.5) inset,
    0px -82px 68px -64px rgba(30, 122, 70, 0.3) inset,
    0px 7px 11px -4px rgba(30, 122, 70, 1) inset,
    0px 39px 56px -36px rgba(30, 122, 70, 0.5) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.Status-box {
  width: auto;
  height: auto;
 
}

.status-typo {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #00FF1A;   
  background: transparent; 
  margin-left: 35px;
}
.status-typo2{
font-family: Urbanist;
font-weight: 600;
font-style: SemiBold;
font-size: 25px;
line-height: 100%;
letter-spacing: 0%;
margin-left: 35px;
color: rgba(117, 115, 115, 1);
margin-top: 5px;

}
.running-wind-mill{
height:52px;
}
.rec-box2{
  width:264px;
  height: 95px;
  border-radius: 30px;
 background: rgba(30, 122, 70, 0.15);
 display:flex;
 align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    box-shadow:0px 1px 40px 0px rgba(30, 122, 70, 0.2) inset, 0px 4px 18px 0px rgba(30, 122, 70, 0.3) inset,0px 98px 100px -48px rgba(30, 122, 70, 0.5) inset,
    0px -82px 68px -64px rgba(30, 122, 70, 0.3) inset,
    0px 7px 11px -4px rgba(30, 122, 70, 1) inset,
    0px 39px 56px -36px rgba(30, 122, 70, 0.5) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  
}
.stopped-wind-mill{
    height:52px;
}
.stopped-status-typo {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #FF3B3B;   
  background: transparent; 
  margin-left: 35px;
}
.stopped-status-typo2{
font-family: Urbanist;
font-weight: 600;
font-style: SemiBold;
font-size: 25px;
line-height: 100%;
letter-spacing: 0%;
margin-left: 35px;
color: rgba(117, 115, 115, 1);
margin-top: 5px;

}
.status-wrapper {
  display: flex;
  gap: 20px;
  margin-left: 790px;
  gap:50px;
  margin-top:-435px;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.status-listing{
  
width: 110px;
height: 63px;
opacity: 1;
border-radius: 100px;
border-width: 1px; background: rgba(232,235,238,0.7);
border: 1px solid;
margin-top: -350px;
border-image-source: linear-gradient(180deg,#FFFFFF 0%,#E8E8E8 100%);
box-shadow: -3px -3px 7px 0px rgba(255,255,255,1)inset, 3px 3px 7px 0px rgba(136,150,163,0.58)inset;
display:grid;
justify-content: center;
align-items: center;


}

.all-listings{
 
font-family: Urbanist;
font-weight: 500;
font-style: Medium;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(30, 122, 70, 1);

}
.turbine-name-box{
width: 146px;
height: 70px;
opacity: 1;
top: 444px;
left: 23px;
border-radius: 15px;
border-width: 1px;
border: 1px solid ;
background: rgba(232, 232, 232, 1);
border-image-source: linear-gradient(0deg, #004A2C 0%, #1E7A46 50%, #52B56F 100%);
box-shadow: 0px 1px 40px 0px rgba(30, 122, 70, 0.2) inset,
            0px 7px 11px -4px rgba(30, 122, 70, 1) inset;


justify-content: center;
align-items: center;
display: grid;
}
.turbine-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}
.turbine-name-text {
font-family: Urbanist;
font-weight: 600;
font-style: SemiBold;
font-size: 25px;
line-height: 100%;
letter-spacing: 0%;

}
.rectangle-container{
  width: 650px;
  height: 130px;
  margin-top:50px; 
  margin-left: 800px;
  border-width: 1px;
  opacity:1;
  background: rgba(232, 235, 238, 0.7);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #FFFFFF 0%, #E8E8E8 100%);
  box-shadow: -3px -3px 7px 0px rgba(255, 255, 255, 1) inset,
               3px 3px 7px 0px rgba(136, 150, 163, 0.58) inset;
display: flex;
justify-content: center;
align-items: center;

}

.fig-box{
width:550px;
height: 86px;
border-width: 1px;
opacity:1;
border-radius:20px;
border-style: 2px dashed;
display: flex;
gap:83px;
}
.icon-circle{
  width:60px;
  height:60px;
  margin-top: 10px;
  margin-left:15px;
  opacity:1;
  border-radius:50%;
  border:3px dashed rgba(0,0,0,1);
  justify-content: center;
  align-items: center;
  display: flex;
}
.asset-operation-box{
width: 652px;
height:95px;
margin-left: 800px;
margin-top: 130px;
border-width: 1px;
opacity: 1;
border-radius: 50px;
background: rgba(232, 235, 238, 0.7);
border: 1px solid;
border-image-source: linear-gradient(180deg, #FFFFFF 0%, #E8E8E8 100%);
display: flex;
align-items: center;
box-shadow: -3px -3px 7px 0px rgba(255, 255, 255, 1) inset,
             3px 3px 7px 0px rgba(136, 150, 163, 0.58) inset;

}
.Ellipse{
width:75px;
height:75px;
background:rgba(255,255,255,1);
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
margin-left: 29.5px;
border-radius: 50%;
opacity: 1;
}
.teeny-icons{
 width: 75px;
 height:75px;
 margin-left: 20px;
 margin-top: 30px;
}
.vec-arrow{
  width: 45px;
}
.title_box{
width: 275px;
height: 60px;
margin-top:35px;
margin-left:30px;
font-family: Urbanist;
font-weight: 500;
 font-style: Medium;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(30, 122, 70, 1);
;
}
