@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
.window-box{
    height:200vh;
    width: 100vh;
}
.save-world-img{
 height: 340px;
 margin-top: 20%;
 margin-left: 85%;

}
.text-box{
    width: 90%;
    margin-top: 4%;
    margin-left: 65.7%;
    font-family: Urbanist;
    font-weight: 700;
    font-style:Bold;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0,0,0,1);
    text-align: center;
}
.facebook-box{
    width:352px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: 85%;
    border-width: 1px;
    opacity: 1;
    border:1px solid rgba(207,204,204,1);
    border-radius: 10px;
}
.facebook{
    display: flex;
    justify-content: center;gap: 10px;
    height:20px;
    width:196px;
}
.horizontal-line{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;
    margin-left: 74%;
    margin-top: 9%;
}
.or-text{
    width:19px;
    height:19px;
    font-family: Urbanist;
    font-weight: 600;
    font-style:SemiBold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(152, 152, 152, 1);

}
.line1{
  width: 175.01px; 
  height: 0px;
  border: 1px solid rgba(207, 204, 204, 1);
}

.sign-via-mail{
    width:351px;
    height:50px;
    margin-left:86%;
    margin-top: 9%;
    opacity:1;
    border-radius:25px;
    border: 0.5px solid;
    border-image-source: linear-gradient(180deg, rgba(255,255,255,0.08) 0%, rgba(255,255,255,0.5) 100%);
    box-shadow: -1px 8px 19px 0px rgba(0,0,0,0.05),
                 -4px 34px 34px 0px rgba(0,0,0,0.04),
                 -10px 76px 46px 0px rgba(0,0,0,0.03),
                 -18px 135px 55px 0px rgba(0, 0, 0, 0.01),
                 -28px 211px 60px 0px rgba(0, 0, 0, 0);



}
.triple-text-box{
  width:166px;
  height:19px;
  opacity:1;
  font-family:Urbanist;
  font-weight:600;
  font-style:Semibold;
    font-size:16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(0, 0, 0, 1);  
}
.signin-box{
width:351px;
height:50px;
border-width:0.5px;
opacity:1;
border-radius:25px;
background: linear-gradient(137.47deg, #004A2C 11.08%, #1E7A46 32.28%, #52B56F 57.73%, #0E5734 95.9%);
border-image-source:linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.5) 100%);

backdrop-filter: blur(1.5px);
box-shadow: 9.25px 13.75px 2px 0px rgba(115, 82, 221, 0.13),
            0.75px 3px 7.7px 0px rgba(115, 82, 221, 0.43) inset,
            -1px -3.25px 9.07px 0px rgba(88, 42, 255, 0.32) inset;


}
.paragraph-text{
    width:138px;
    height: 22px;
    opacity:1;
    display: flex;
    margin-top: 4%;
    margin-left: 30%;
    font-family:Urbanist;
    font-weight:400;
    font-style:Regular;
    font-size:18px;
    line-height:100%;
    text-align:center;
    color: rgba(0, 0, 0, 1);
;


}
.account-purpose{
width:223px;
height:21px;
margin-top: 15%;
margin-left:96%;
opacity:1;
font-family:Khula;
font-size: 16px;
font-weight: 400px;
line-height:100%;
letter-spacing:0%;
color: rgba(123, 123, 123, 1);;

}
.signUp{
font-family: khula;
font-weight: 40;
font-style:Regular;
font-size:16px;
line-height: 100%;
letter-spacing:0%;
color: rgba(30, 122, 70, 1);

}
