@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.win-box{
  height: 200vh;
  width: 200vh;
  
}
.AuraGreenImage{

  width: 220px;
  height: 220px;
  margin-top: 10%;
  margin-left: 45%; 
}
.mailbox{
  width:351px;
  height:51px;
  margin-top:5%;
  margin-left:42%;
  opacity: 1;
  border: 1px solid #7B7B7B4D;
  border-radius: 10px;
  background: #7B7B7B0D;

}
.icon-mail{
  width: 20px;
  height:20px;
  color:#7B7B7B;
  margin-top:-4px;
  
}

.input-mail{
width: 112px;
height:21px;
margin-top:1.3px;
font-family: Khula;
font-weight: 300;
font-style: Light;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #7B7B7B;

}
.passwordbox{
  width:353px;
  height:51px;
  margin-top:3%;
  margin-left:42%; 
  opacity: 1;
  background: #7B7B7B0D;
  border-radius: 10px;
  border: 1px solid #1E7A46
  
}
.sub-box-pass{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.input-pass{
  width:45px;
  height: 22px;
  font-family: Khula;
 font-weight: 800;
 font-style:ExtraBold;
 font-size: 17px;
 line-height: 100%;
 letter-spacing: 0%;
 color: #7B7B7BB2;

}
.checkbox-text{
  display: flex;
  gap:1%;
}
.checkbox{
  Width:15px;
  height:15px;
  border: 1px solid #1E7A46;
  border-radius: 3px;
  
}
.rem-me{
  width:82px;
  height:26px;
  opacity: 1;
  font-family: Khula;
  font-weight:400;
  font-style:Regular;
  font-size:16px;
  line-height: 100%;
  letter-spacing: 0%;
  color:#000000;

}
.rec-pass{
  width: 129px;
  height: 21px;
  font-family: Khula;
  margin-left: 14%;
  font-weight: 600;
  font-style:SemiBold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1E7A46;

}
.recovery-account{
  margin-left: 42%;
  margin-top:2%
}
.sign-in-box{
  width: 351px;
  height:50px;
  border-width:0.5px;
  border-radius:25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(137.47deg,#004A2C 11.08%,#1E7A46,32.28%,#52B56F 57.73%,#0E5734 95.9%);
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.5) 100%);
  border: 0.5px solid;
  backdrop-filter: blur(1.5px);
  box-shadow: 9.25px 13.75px 2px 0px #7352DD21,
              0.75px 3px 7.7px 0px #7352DD6E inset,
              -1px -3.25px 9.07px 0px #582AFF52 inset;

  margin-left: 42.5%;
  margin-top:4%;
  
}
.textbox{
width: 138;
height: 22;
font-family: Urbanist;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #000000;


}
.line1{
width: 110px;
height: 0px;
margin-top: 1.2%;
opacity: 1;
border-width: 1px;
border: 1px solid #CFCCCC
}
.divider{
  display: flex;
  gap: 6px;
  margin-top: 4%;
  margin-left: 42.9%;
}
.social-media-ref{
width: 122px;
height: 19px;
opacity: 1;
margin-top: 0.3%;
font-family: Urbanist;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #989898;


}