.win-box{
  height: 200vh;
  width: 200vh;
  
}
.AuraGreenImage{

  width: 220px;
  height: 220px;
  margin-top: 10%;
  margin-left: 45%; 
}
.mailbox{
  width:351px;
  height:51px;
  margin-top:5%;
  margin-left:42%;
  opacity: 1;
  border: 1px solid #7B7B7B4D;
  border-radius: 10px;
  background: #7B7B7B0D;

}
.icon-mail{
  width: 20px;
  height:20px;
  color:#7B7B7B;
  margin-top:-4px;
  
}

.input-mail{
width: 112px;
height:21px;
margin-top:1.3px;
font-family: Khula;
font-weight: 300;
font-style: Light;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #7B7B7B;

}
.passwordbox{
  width:353px;
  height:51px;
  margin-top:3%;
  margin-left:42%; 
  opacity: 1;
  background: #7B7B7B0D;
  border-radius: 10px;
  border: 1px solid #1E7A46
  
}
.sub-box-pass{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.input-pass{
  width:45px;
  height: 22px;
  font-family: Khula;
 font-weight: 800;
 font-style:ExtraBold;
 font-size: 17px;
 line-height: 100%;
 letter-spacing: 0%;
 color: #7B7B7BB2;

}


