.win-box{
  height: 200vh;
  width: 200vh;
  
}
.AuraGreenImage{

  width: 220px;
  height: 220px;
  margin-top: 10%;
  margin-left: 45%; 
}
.mailbox{
  width:351px;
  height:51px;
  margin-top:5%;
  margin-left:42%;
  opacity: 1;
  border: 1px solid #7B7B7B4D;
  border-radius: 10px;
  background: #7B7B7B0D;

}
.icon-mail{
  width: 20px;
  height:20px;
  color:#7B7B7B;
  margin-top:-4px;
  
}

.input-mail{
width: 112px;
height:21px;
margin-top:1.3px;
font-family: Khula;
font-weight: 300;
font-style: Light;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #7B7B7B;

}
.passwordbox{
  width:353px;
  height:51px;
  margin-top:3%;
  margin-left:42%; 
  opacity: 1;
  background: #7B7B7B0D;
  border-radius: 10px;
  border: 1px solid #1E7A46
  
}
.sub-box-pass{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.input-pass{
  width:45px;
  height: 22px;
  font-family: Khula;
 font-weight: 800;
 font-style:ExtraBold;
 font-size: 17px;
 line-height: 100%;
 letter-spacing: 0%;
 color: #7B7B7BB2;

}
.checkbox-text{
  display: flex;
  gap:1%;
}
.checkbox{
  Width:15px;
  height:15px;
  border: 1px solid #1E7A46;
  border-radius: 3px;
  
}
.rem-me{
  width:82px;
  height:26px;
  opacity: 1;
  font-family: Khula;
  font-weight:400;
  font-style:Regular;
  font-size:16px;
  line-height: 100%;
  letter-spacing: 0%;
  color:#000000;

}
.rec-pass{
  width: 129px;
  height: 21px;
  font-family: Khula;
  margin-left: 14%;
  font-weight: 600;
  font-style:SemiBold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1E7A46;

}
.recovery-account{
  margin-left: 42%;
  margin-top:2%
}